[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = ">=5.4"
"pytest-pep8" = ">=1.0"
pytest-flakes = ">=4.0"
pytest-isort = ">=1.0"
pytest-django = ">=3.9"
pytest-snapshot = ">=0.4"
pytest-cov = ">=2.8"
sphinx = ">=3.0"
sphinx-rtd-theme = ">=0.4"

[packages]
django = ">=2.2"

[requires]
python_version = "3.7"
